body {
    font-family:Arial, sans-serif;
    text-align:center;
    margin:0;
    padding:0;
    background-color:#000000;
    height: 100%;
    width: 100%;
}
button{
    Padding:10px 20px;
    font-size:18;
    margin:10px;
    cursor:pointer;
    border:none;
    border-radius:5px;
    background-color:#D9D9D9;
    color:whote;
    transition:0.3s;
}
button:hover{
    background-color:#8a8a8a;
}
table{
    background-color: #f8f8f8;
    width: 100%;
    border-spacing: 67px 4px; 

}
th, td{
    font-size: 20px;
    color: #797979; 
}
tr{

}
thead{
    color: #797979; 
    font-size: 30px;    
    border-bottom: 1px solid #4d4d4d;
    border-top: 1px solid #4d4d4d;
}
tbody{

}
.organize-div{
    justify-content:center;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color:#f8f8f8;
    border-style: solid;
    border-width: 10px;
    border-color:#b6b5b5;
    border-radius:24px;
    margin-top:2%;
    margin-left:35%;
    margin-right:35%;
    padding-left: 1%;
    padding-right: 1%;
}
.menu{
    background-color:#f8f8f8;
    border-style: solid;
    border-width: 20px;
    border-color:#D9D9D9;
    border-radius:11%;
    margin-top:4%;
    margin-bottom:0%;
    margin-left:35%;
    margin-right:35%;
    padding-top:1%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
.input_tabela{
    border-radius:10px;
    width: 20%;
    height: 35px;
    border:none;

}
.input_tabela::placeholder{
padding-left: 27%;
}
.inputs_div{
display: flex;
flex-direction: row;
align-items: center;
justify-content:center;
}
.total_punicao{
    margin-top: 5%;
    font-size: 20px;
    color: #4d4d4d;
}

/*
    border-bottom: 1px solid #4d4d4d;
    border-top: 1px solid #4d4d4d;
*/
